.square{
    background-color: blue;
    flex: 1 0 5.5%;
    aspect-ratio: 1/1;
    height: 50px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}