.square{
    background-color: blue;
    aspect-ratio: 1/1;
    width: 50px;
    height: auto;
}

.error{
    color: red;
}

.buttons{
    margin-bottom: 10px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}